@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Hosgeldiniz</h1>
        <p>Emlak Projesi</p>

        <h4>Taylan Ersen</h4> 

        <br />

        <a class="btn btn-primary" asp-action="MusteriKayit">Musteri Kaydı için Tıklayınız.</a>

    </div>

</body>
</html>



